 @font-face {
	font-family: 'Anthony';
	src: url('/fonts/anthony/anthony.eot');
	src: url('/fonts/anthony/anthony.woff2') format('woff2'),
		url('/fonts/anthony/anthony.woff') format('woff'),
		url('/fonts/anthony/anthony.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}

:root {
	--font-main: 'Outfit', sans-serif;
	--font-misc: 'Anthony', serif;
}